/*****************************************
            PAGE BODY & HEADER
******************************************/
body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #383838;

    font-family: Lato, "Open Sans", sans-serif, Arial !important;
    font-size: 14px;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-content-zooming: none;
    -ms-touch-action: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1rem;
}

.site-header {
    padding: 5px 15px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 50px;
}

@media (min-width: 860px) {
    .site-header {
        padding: 15px;
        text-align: left;
    }
}

.header-img {
    height: 30px;
}

@media (min-width: 860px) {
    .header-img {
        height: 30px;
    }
}

/*****************************************
           CONTENT CONTAINER
******************************************/

.content-container {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 0 10px;
    background-color: #fff;
    border-radius: 10px;

    text-align: center;
    color: #383838;

    border-top: 1px solid #ebebeb;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e4e4e4;
    border-bottom: 2px solid #dbdbdb;
}

.content-container .user {
    margin-bottom: 25px;
}

.content-container .user img.user-image {
    height: 100px;
    width: auto;

    margin-top: 20px;
}

.content-container div.details .details-header {
    background: #d9edf7;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

.content-container div.details ul.details {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

.content-container div.details ul.details li {
    padding: 8px 12px;
}

.content-container div.details ul.details li strong.detail-label {
    width: 200px;
    display: inline-block;
    font-weight: 400;
    color: #777;
}

.content-container div.details ul.details li span.detail-reason {
    display: inline-block;

    margin-left: 200px;
    margin-top: 5px;
    padding: 5px 10px;

    background: #f5f5f5;
}

/*****************************************
                 BUTTON
******************************************/

.button {
    text-align: center;
}

.button input[type="button"] {
    background: #1987D6;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 14px;
    padding: 10px 15px;
}

/*****************************************
             TRAFFIC LIGHT
******************************************/

span.traffic-light:before {
    content: "";

    height: 14px;
    width: 14px;

    margin-right: 5px;

    display: inline-flex;
    border-radius: 50%;
}

span.traffic-light.success:before {
    background-color: green;
    border: darkgreen solid 2px;
}

span.traffic-light.warning:before {
    background-color: orange;
    border: darkorange solid 2px;
}

span.traffic-light.danger:before {
    background-color: red;
    border: darkred solid 2px;
}

/*****************************************
                 ERROR
******************************************/

.error {
    padding: 5px 10px;
    margin: 20px 20%;
    border-radius: 15px;
    background-color: red;
    color: #fff;
}